.main{
	display: flex;
	height: 200px;
	background-color: DodgerBlue;
}

.flex-container-1{align-items: center;}
.flex-container-2{align-items: flex-start;}
.flex-container-3{align-items: flex-end;}
.flex-container-4{align-items: stretch;}
.flex-container-5{justify-content: center; align-items: center} /*perfect centering*/


.main > div {
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.flex-container-5 > div{
	height: 100px;
}